// --------------------------------
// Reset
// --------------------------------

*,
*::after,
*::before,
body {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

// Make images easier to work with
img,
picture {
  max-width: 100%;
  display: block;
}

// Make form elements easier to work with
input,
button,
textarea,
select {
  font: inherit;
}

// Remove animations for user who turned it off
@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;

  // Responsive size

  // Above 1450px
  @media screen and (min-width: 90.625em) {
    font-size: 64.5%;
  }

  // Below 800px (1rem = 9px) ---> BreakPoint / 16
  @media screen and (max-width: 50em) {
    // Font size / 16 * 100
    font-size: 56.25%;
  }

  // Below 450px (1rem = 8.5px)
  @media screen and (max-width: 28.125em) {
    font-size: 53.125%;
  }

  //Below 350px (1rem = 7px)
  @media screen and (max-width: 21.875em) {
    font-size: 43.75%;
  }
}

$circle-size: 100px;
$distance: 25px;

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-primary;
  line-height: 1.6;
  color: $text-color-primary;
  background: $main-body-bg-color;
  font-weight: $font-weigth-primary;
  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 60px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $main-body-gradient-color;
    filter: blur(150px);
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    z-index: -20;

    @media (max-width: 520px) {
      width: 150px;
      height: 150px;
    }
    @media (max-width: 350px) {
      width: 85px;
      height: 85px;
    }
  }

  @for $i from 1 through ceil(100 / ($circle-size + $distance)) {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: $circle-size * 2 * $i;
      height: $circle-size * 2 * $i;
      border-radius: 50%;
      background: $main-body-gradient-color;
      filter: blur(150px);
      background-size: 100% 100%;
      transform: translate(-50%, -50%)
        translateX(($circle-size + $distance) * $i);
      mix-blend-mode: screen;
      z-index: -20;

      @media (max-width: 520px) {
        width: $circle-size * 1.5 * $i;
        height: $circle-size * 1.5 * $i;
      }
      @media (max-width: 400px) {
        width: $circle-size * 1 * $i;
        height: $circle-size * 1 * $i;
      }
    }
  }
  @media (max-width: 768px) {
    $circle-size: 50px; // Adjust size for smaller screens
  }

  @media (max-width: 520px) {
    $circle-size: 20px; // Further adjust size for even smaller screens
    $distance: 5px; // Further adjust distance for even smaller screens
  }
  @media (max-width: 360px) {
    $circle-size: 12px; // Further adjust size for even smaller screens
    $distance: 5px; // Further adjust distance for even smaller screens
  }
}

a {
  text-decoration: none;
}

//Reseting input field when it's auto completed
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

// Grid
