html {
  font-size: 62.5%;
  box-sizing: border-box;

  // Responsive size

  // Below 800px (1rem = 9px) ---> BreakPoint / 16
  @media screen and (max-width: 50em) {
    // Font size / 16 * 100
    font-size: 56.25%;
  }

  // Below 450px (1rem = 8.5px)
  @media screen and (max-width: 28.125em) {
    font-size: 53.125%;
  }

  //Below 350px (1rem = 7px)
  @media screen and (max-width: 21.875em) {
    font-size: 43.75%;
  }
}

*,
*::after,
*::before,
body {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-primary;
  line-height: 1.3;
  color: $text-color-primary;
  background: $main-body-bg-color;
  font-weight: $font-weigth-primary;
  position: relative;
}

//body background Gradient
.shape-gradient {
  position: absolute;
  top: 0;
  right: 5%;
  border-radius: 24% 67% 60% 47% / 30% 30% 70% 70%;
  background: radial-gradient(
    65.43% 77.43% at 43% 45%,
    rgba(233, 99, 255, 18%) 14.23%,
    rgba(91, 30, 155, 18%) 72.31%
  );
  filter: opacity(0.55) blur(25px) brightness(0.85);

  z-index: -20;
}
//Reseting input field when it's auto completed
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
