// @use "sass:color";
// @use "sass:list";
// @use "sass:math";

// $count: 15;
// $colors: (red, orange, yellow, green, blue, indigo);
// $opacity: 0.2;

// $circles: ();

// @for $i from 1 through $count {
//   $x: math.random(100) * 1vw;
//   $y: math.random(100) * 1vh;
//   $r: math.random(15) + 5vmin;
//   $color: list.nth($colors, math.random(list.length($colors)));
//   $grad: radial-gradient(
//     circle at $x $y,
//     color.change($color, $alpha: $opacity) $r,
//     transparent calc(#{$r} + 2px)
//   );
//   $circles: append($circles, $grad, "comma");
// }

html {
  font-size: 62.5%;
  box-sizing: border-box;

  // Responsive size

  // Below 800px (1rem = 9px) ---> BreakPoint / 16
  @media screen and (max-width: 50em) {
    // Font size / 16 * 100
    font-size: 56.25%;
  }

  // Below 450px (1rem = 8.5px)
  @media screen and (max-width: 28.125em) {
    font-size: 53.125%;
  }

  //Below 350px (1rem = 7px)
  @media screen and (max-width: 21.875em) {
    font-size: 43.75%;
  }
}

*,
*::after,
*::before,
body {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-primary;
  line-height: 1.6;
  color: $text-color-primary;
  background: $main-body-bg-color;
  font-weight: $font-weigth-primary;
  position: relative;
}

a {
  text-decoration: none;
}

//Reseting input field when it's auto completed
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
