.btn {
  // text-transform: capitalize;
  border-radius: 45px;
  font-size: clamp(18px, 2vw, 2rem);
  border-width: 1px;
  border-style: solid;
  color: $text-color-primary;

  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  font-family: $font-primary;

  &::first-letter {
    text-transform: capitalize;
  }
  &:hover,
  &:active {
    color: $text-color-primary;
  }

  // Below 500px
  @media screen and (max-width: 31.25em) {
    font-size: clamp(16px, 1.4vw, 18px);
  }
  // Below 300px
  @media screen and (max-width: 18.75em) {
    font-size: clamp(16px, 1.2vw, 18px);
  }

  &:not(.btn-sso) {
    width: fit-content;
  }
  &::first-letter {
    text-transform: uppercase;
  }

  &-transparent {
    border-color: $btn-color-border;
    background-color: transparent;
    font-weight: 300;
    text-transform: capitalize;
    padding: 18px 34px;

    @media screen and (max-width: 47.9375em) {
      padding: 12px 18px;
    }

    &:hover,
    &:active {
      background: $gradient-bg;
      border-color: transparent;
    }
  }
  &-gradient {
    background: $gradient-bg;
    border: none;
    padding: 18px 34px;

    @media screen and (max-width: 47.9375em) {
      padding: 12px 18px;
    }
  }
  &-sso {
    background-color: $color-dark;
    background: $border-gradient;
    width: 290px;
    height: 66px;
    gap: 1rem;

    @media screen and (max-width: 56.25em) {
      width: 280px;
      height: 50px;
    }
    @media screen and (max-width: 31.25em) {
      width: 290px;
      padding: 0 1.2rem;
    }
    // Below 300px
    @media screen and (max-width: 18.75em) {
      width: 250px;
      padding: 0 0.6rem;
    }
  }
  &-link {
    padding: 0;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    padding-left: calc(var(--bs-gutter-x) * 0.4);
    color: $text-color-white-grey-2;
    &:hover,
    &:active {
      color: $text-color-primary;
    }
  }
}

.btn.btn-link {
  &:active {
    color: $text-color-primary;
  }
}

.btn-icon,
.btn-icon use {
  width: 22px;
  height: 22px;
}

.sso-grid-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-family: $font-avenir;
  font-weight: 300;
}
