.btn {
  // text-transform: capitalize;
  border-radius: 45px;
  font-size: clamp(18px, 2vw, 2rem);
  border-width: 1px;
  border-style: solid;
  color: $text-color-primary;

  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  font-family: $font-primary;

  &::first-letter {
    text-transform: capitalize;
  }
  &:hover,
  &:active {
    color: $text-color-primary;
  }

  @media screen and (min-width: 87.5em) {
    font-size: 1.8rem;
  }

  // Below 500px
  @media screen and (max-width: 31.25em) {
    font-size: clamp(16px, 1.4vw, 18px);
  }
  // Below 300px
  @media screen and (max-width: 18.75em) {
    font-size: clamp(16px, 1.2vw, 18px);
  }

  &:not(.btn-sso) {
    width: fit-content;
  }
  &::first-letter {
    text-transform: uppercase;
  }

  &-transparent {
    border-color: $btn-color-border;
    background-color: transparent;
    font-weight: 300;
    text-transform: capitalize;

    &:hover,
    &:active {
      background: $gradient-bg;
      border-color: transparent;
    }
  }
  &-gradient {
    background: $gradient-bg;
    border: none;
  }

  &-transparent,
  &-gradient {
    padding: 1vw 2vw;

    @media screen and (max-width: 56.25em) {
      padding: 1.4vw 2.4vw;
    }

    @media screen and (max-width: 40.625em) {
      padding: 1.6vw 2.8vw;
    }

    @media screen and (max-width: 31.25em) {
      padding: 2vw 3.2vw;
    }

    @media screen and (max-width: 25em) {
      padding: 10px 16px;
    }
  }
  &-sso {
    background-color: $color-dark;
    background: $border-gradient;
    gap: 10px;
    padding: 1vw 0;
    width: 25vw;

    // Below 11000px
    @media screen and (max-width: 68.75em) {
      padding: 1.6vw 0;
      width: 32vw;
    }

    // Below 950px
    @media screen and (max-width: 59.375em) {
      padding: 1.8vw 0;
      width: 35vw;
    }

    // Below 750px
    @media screen and (max-width: 46.875em) {
      padding: 14px 0;
      width: 38vw;
    }

    // Below 550px
    @media screen and (max-width: 34.875em) {
      padding: 10px 0;
      width: 297px;
    }

    // Below 350px
    @media screen and (max-width: 18.75em) {
      width: 250px;
    }

    // Below 300px
    @media screen and (max-width: 18.75em) {
      width: 245px;
    }
  }
  &-link {
    padding: 0;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    padding-left: calc(var(--bs-gutter-x) * 0.4);
    color: $text-color-white-grey-2;
    &:hover,
    &:active {
      color: $text-color-primary;
    }
  }
}

.btn.btn-link {
  &:active {
    color: $text-color-primary;
  }
}

.btn-icon,
.btn-icon use {
  width: 24px;
  height: 24px;
}

.sso-grid-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-family: $font-avenir;
  font-weight: 300;
}
