.form__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.form__grid {
  max-height: 100svh;

  // Above 1450px
  @media screen and (min-width: 90.625em) {
    min-height: 100svh;
  }

  & .col-side-content {
    background: radial-gradient(
        65% 60% at 64% 46%,
        rgb(16 4 18 / 89%) 69%,
        rgb(11, 1, 14) 111%
      ),
      url(src/images/form-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 22%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5.5rem;
    & p {
      font-size: 2rem;
      font-weight: 200;
      color: #fff;
    }

    // Above 1250px
    @media screen and (min-width: 78.125em) {
      padding: 0 3rem;
    }

    // Below 800px
    @media screen and (max-width: 50em) {
      padding: 4rem 2rem;
    }

    & .btn-nav-form {
      align-self: center;
      margin-top: 4rem;
    }
  }
  & .col-side-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmax 5rem;
    gap: 3vmax;
    height: 100%;

    // Above 1450px
    @media screen and (min-width: 90.625em) {
      padding: 2vmax 2rem;
    }

    // Below 950px
    @media screen and (max-width: 59.375em) {
      padding: 2rem 3.5rem;
    }

    & .form__signup,
    & .form__login {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      padding: 0 1.5vw;

      & .container-fluid {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }
    }

    & .form__login {
      & .container-fluid {
        & .row:nth-of-type(2),
        & .row:nth-of-type(3) {
          justify-content: center;
        }
      }
    }
  }
}

input.form-control {
  background-color: transparent;
  border: 1px solid $color-border-visited;
  border-radius: 10px;
  height: 60px;
  font-size: 18px;
  color: #fff;
  text-indent: 10px;
  padding: 0;

  // Below 700px height
  @media screen and (max-height: 43.75em) {
    height: 40px;
  }
  &:focus {
    border-color: $color-border-active;
    color: #fff;
    background-color: transparent;
  }
}

.form-control.input-invalid {
  border-color: red;
}
.form-control.input-valid {
  border-color: green;
}

label {
  font-size: 16px;
  font-weight: 400;
  color: $color-white-2;
  margin-bottom: 3px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.form__signup p:first-child,
.form__login p:first-child {
  font-size: 2.8rem;
  color: $text-color-white-grey;
  text-transform: capitalize;

  &::first-letter {
    text-transform: uppercase;
  }
}

//Password icon
.password-container {
  position: relative;
}

.show-password-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: $pass-icon-position;
  transform: translateY(48px);
  transition: all 0.4s;

  // Below 700px height
  @media screen and (max-height: 43.75em) {
    width: 22px;
    height: 22px;
    transform: translateY(38px);
  }

  & .password-icon {
    width: 100%;
    height: 100%;
    fill: $color-border-visited;
    transition: all 0.4s;
  }
  &:hover,
  &:active {
    & .password-icon {
      fill: $color-border-active;
    }
  }
}

.form-control#password,
.form-control#passwordConfirmation {
  padding-right: calc(#{$pass-icon-position} * 2.5);
}
