.aboutSection {
  max-width: 100vw;
  width: 100%;
  height: clamp(100svh, 100dvh, 100lvh);
}
.content {
  /* padding: 6vh 0; */
  display: grid;
  grid-template-rows: repeat(3, minmax(0, auto));
  align-content: center;
  height: 100%;
  gap: 2.5vh;
}
.content article {
  display: flex;
  /* height: 42vh; */
  gap: 2rem;
  font-size: 20vh;
}

.textContent {
  max-width: min(155ch, 90%);
}
.textContent h2 {
  font-size: max(10.6%, min(80%, 28%));
  font-weight: 100;
  padding-bottom: 1.4vw;
  padding-top: 1.3vw;
}
.textContent h2 .eventixInline {
  vertical-align: -webkit-baseline-middle;
}
.textContent p {
  font-size: max(10%, min(1.6rem));
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #9f9f9f;
}
.imageContent {
  width: 100%;
}
.imageContent > div {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  height: 100%;
}
.imageContent img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 1;
}
.imageContent > div::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(180deg, #191919 0%, rgba(0, 0, 0, 0) 100%);
}
/* .imageContent > div::after {
  content: "";
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #f1f1f1 80%, #fff);
  z-index: -100;
} */

/* Queries */
/* Below 1150px */
@media screen and (max-width: 71.875em) {
  .textContent h2 {
    font-size: clamp(2.8rem, 3.2vw, 3.2rem);
  }

  .textContent p {
    font-size: clamp(1.6rem, 1.6vw, 2rem);
    line-height: 1.6;
  }
}

/* Below 880px */
@media screen and (max-width: 53.125em) {
  .textContent h2 {
    font-size: clamp(2.6rem, 3.2vw, 3rem);
    padding: 2vw 0;
  }

  .textContent p {
    font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  }
}

/* Below 710px ---> BreakPoint / 16 */
@media screen and (max-width: 44.375em) {
  .content article {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .textContent {
    max-width: 100%;
  }
  .content {
    height: fit-content;
  }
  .imageContent > div {
    height: 40vh;
  }
  .textContent h2 {
    padding-top: 0;
  }
  .textContent h2,
  .textContent p {
    text-align: center;
  }
}

/* Below 576px ---> BreakPoint / 16 */
@media screen and (max-width: 36em) {
  .textContent h2 {
    font-size: clamp(2.4rem, 3.2vw, 2.6rem);
    padding-bottom: 1.6rem;
  }

  .textContent p {
    font-size: clamp(1.2rem, 1.4vw, 1.4rem);
  }
}

/* Below 470px ---> BreakPoint / 16 */
@media screen and (max-width: 29.375em) {
  .imageContent > div {
    width: 30rem;
  }
  .imageContent img {
    width: 100%;
  }
}
