:root {
  --image-normal-width: 15rem;
  --image-normal-width-vw: 15vw;
}

.container {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-height: 100vh;
  min-height: 100vh;
}
.images {
  display: grid;
  grid-template-columns:
    10vw
    30vw
    10vw;
  justify-content: center;
  align-items: center;
}
.images .imgContainer:first-child {
  transform: translateX(3vw);
}
.images .imgContainer:last-child {
  align-self: flex-end;
  transform: translateX(-3vw);
}
.imgContainer {
  height: fit-content;
}
img {
  width: 100%;
  height: 100%;

  /* Disabling context menu on images */
  pointer-events: none;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 1.6rem;
}
.textContainer p {
  font-size: 16px;
  font-weight: 100;
}
.textContainer h2 {
  font-size: 3.6rem;
}
.textContainer h2::first-letter {
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}

.container .showPasswordBtn {
  right: 3%;
  transform: translateY(25px);
}

/* Responsive website */

/* Bigger screens above 950px */
@media screen and (min-width: 59.375em) {
  .images {
    grid-template-columns:
      10rem
      28.5rem
      10rem;
  }
}

/* Above 775px */
@media screen and (max-width: 48.4375em) {
  .showPasswordBtn.show-password-btn {
    transform: translateY(23px);
  }
}
/* Below 645px */
@media screen and (max-width: 40.3125em) {
  .images {
    grid-template-columns:
      7.5rem
      22rem
      7.5rem;
  }
}

@media screen and (max-width: 28.125em) {
  .container .showPasswordBtn {
    transform: translateY(22px);
  }
}

/* Below 365px */
@media screen and (max-width: 22.8125em) {
  .container {
    padding: 2rem;
  }
  .images {
    grid-template-columns:
      6.5rem
      20rem
      6.5rem;
  }
  .textContainer p {
    font-size: 14px;
  }
  .showPasswordBtn.show-password-btn {
    transform: translateY(20px);
  }
}

/* Below 350px */
@media screen and (max-width: 21.875em) {
  .showPasswordBtn.show-password-btn {
    transform: translateY(20px);
  }
}

/* Below 310px */
@media screen and (max-width: 19.375em) {
  .images {
    grid-template-columns:
      5rem
      17rem
      5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .textContainer p {
    font-size: 12px;
  }
}
