.square {
  position: absolute;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 15vw;
  max-height: 15vw;
  background-color: rgba(33, 33, 33, 0.2);
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.2),
      rgba(33, 33, 33, 0.2)
    ),
    linear-gradient(68.95deg, #999999 0.53%, rgba(153, 153, 153, 0) 61.67%);

  border-radius: 15px;
  position: absolute;
  border: 1px solid;
  border-image-source: linear-gradient(
    68.95deg,
    #999999 0.53%,
    rgba(153, 153, 153, 0) 61.67%
  );
}
