.square {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.2),
      rgba(33, 33, 33, 0.2)
    ),
    linear-gradient(68.95deg, #99999931 0.53%, rgba(153, 153, 153, 0) 61.67%);
  border: 1px solid;
  border-image-source: linear-gradient(
    68.95deg,
    #999999fd 0.53%,
    rgba(153, 153, 153, 0) 61.67%
  );
}
