.row > * {
  padding: 0;
}

.form {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.formHeader {
  font-size: 3.8rem;
  margin-bottom: 2rem;
}
.personalInfoSide p:first-of-type,
.billingInfoSide p:first-of-type {
  font-size: 2rem;
  font-weight: 200;

  margin-bottom: 2.5rem;
}
.personalInfoSide p:first-of-type::first-letter,
.billingInfoSide p:first-of-type::first-letter {
  text-transform: uppercase;
}

.billingInfoSide input {
  /* width: 105px; */
}
.cardNoInputs {
  display: flex;
  align-items: center;
  gap: 8px;
}
.billingLastInputsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnContainer {
  padding-top: 5rem;
}
