.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.heading2 {
  font-weight: 100;
  font-size: clamp(24px, 4.6vw, 36px);
}

.headerFlexContainerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.eventixWord {
  font-size: clamp(28px, 4vw, 40px);
}
.btnsContainer {
  font-size: clamp(20px, 3vw, 36px);
}
