/* .categoryMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */
/* .categoryContainer {
  width: 100%;
  position: relative;
} */
/* .categoryContainerInner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 26vw));
  grid-template-rows: repeat(auto-fill, minmax(150px, 10vw));
  justify-content: stretch;
  grid-auto-flow: row;
  grid-auto-rows: minmax(150px, 10vw);
  gap: 10px;
} */
.categoryName {
  font-size: clamp(18px, 2vw, 2.4rem);
  font-weight: 400;
}
.categoryName::first-letter {
  text-transform: uppercase;
}
