.eventsSection {
  padding: 6rem 0;
}
.containerInner header {
  display: flex;
  align-items: end;
  gap: 16px;
}
.headerLogo {
  font-size: clamp(2.2rem, 3.2vw, 4.2rem);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 6.5rem;
}
.containerInner header .headerBtn {
  font-size: clamp(1.4rem, 0.6vw, 1.8rem);
  padding: 6px 16px;
}
.containerGrid {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 3.5rem;
  padding-top: 2.8rem;
}
.grid2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 14.5rem);
  gap: 1rem;
}
.grid1xn {
  height: 300px;
}
.containerGrid .header {
  font-size: clamp(1.8rem, 1.6vw, 2.4rem);
}
.containerGrid .header::first-letter {
  text-transform: capitalize;
}
