.text-box {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  line-height: 1;
}
.overlap-word {
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  color: rgba(0, 224, 255, 1);
  font-size: 0.4em;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-left: auto;
}

/* Below 950px ---> BreakPoint / 16 */
@media screen and (max-width: 59.375em) {
  .overlap-word {
    font-size: 1.4rem;
  }
}

/* Below 576px ---> BreakPoint / 16 */
@media screen and (max-width: 36em) {
  .overlap-word {
    font-size: 1.1rem;
  }
}
