.logo {
  font-size: clamp(26px, 6.6rem, 82px);
  font-weight: 900;
  width: fit-content;
  display: inline-block;
  position: absolute;
  left: 5rem;
  top: 0;
  z-index: 1000;
  user-select: none;
  /* margin-bottom: clamp(20px, 2.6rem, 46px); */
}
.logo span {
  background-color: #5b1e9b;
  background-size: 100%;
  background-image: linear-gradient(90deg, #e963ff 0%, #5b1e9b 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.logo span:last-of-type {
  display: inline-block;
  transform: translateX(-16px);
}
/* Below 450px */
@media screen and (max-width: 34.375em) {
  .logo {
    left: 4rem;
  }
}
/* Below 350px */
@media screen and (max-width: 21.875em) {
  .logo {
    font-size: clamp(26px, 7rem, 82px);
  }
  .logo span:last-of-type {
    transform: translateX(-13px);
  }
}
