.imageSide {
  position: relative;
  padding-left: 0.8rem;
}
.imageSide::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  background: linear-gradient(0deg, #191919 0%, rgba(0, 0, 0, 0) 100%);
}
.imageSide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.informationSide,
.imageSide {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.informationSide {
  padding-right: 4rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: 275;
  gap: 2.8rem;
  color: rgba(154, 154, 154, 1);
}

.attendContainer {
  margin-top: -17px;
}

.eventName,
.formHeader {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
}
.eventName {
  display: inline-block;
  margin-right: 10px;
}
.organizer {
  display: inline-block;
  font-size: 1.8em;
  font-weight: 100;
  vertical-align: baseline;
}
.descriptionContainer {
  margin-bottom: 2rem;
}
.descriptionContainer p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.descriptionContainer p {
  font-size: 1.6rem;
}
.informationSide h3 {
  font-size: 2.2rem;
  font-weight: 275;
  color: rgba(237, 237, 237, 1);
}

.eventInfoHostCat {
  display: flex;
  align-items: start;
  justify-content: space-between;

  width: 75%;
}

.hosts,
.category,
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.categoryIcon {
  width: 2.8rem;
  height: 2.8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
