.attendeesContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.total {
  font-size: 1.4rem;
  font-weight: 200;
}
.attendImg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: -7px;
}
.attendImg:first-of-type {
  margin-left: 0;
}
