.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.4);
  backdrop-filter: blur(15px);
  z-index: 2500;
  transition: all 0.3s;
}
.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(17, 17, 17, 1);
}
.imageSide {
  position: relative;
  padding-left: 0.8rem;
}
.imageSide::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  background: linear-gradient(0deg, #191919 0%, rgba(0, 0, 0, 0) 100%);
}
.imageSide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.informationSide,
.imageSide {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.informationSide {
  padding-right: 4rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.5rem;
}

.attendContainer {
  margin-top: -17px;
}
.eventOrgContainer {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.eventName {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 700;
}
.organizer {
  font-size: 1.6rem;
  font-weight: 100;
}
.descriptionContainer {
  margin-bottom: 3rem;
}
.descriptionContainer p {
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
}

.eventInfoHostCat {
  display: flex;
  align-items: start;
  justify-content: space-between;

  width: 75%;
}

.hosts,
.category,
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.categoryIcon {
  width: 2.8rem;
  height: 2.8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
