.container-grid {
  min-width: 100vw;
  position: relative;
}

.container-inner {
  display: grid;
  grid-template-columns: auto repeat(3, minmax(38rem, 1fr));
  grid-template-rows: repeat(2, 165px);
  grid-auto-flow: column;
  grid-auto-columns: 38rem;
  gap: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.container-item {
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  scroll-snap-align: start;
}

.large-item {
  grid-row: span 2;
  width: 43rem;
  background-color: #2196f3;
}
