.home {
  position: relative;
  height: 100vh;
  background-color: black;
}

.title {
  width: 11.125rem;
  height: 11.875rem;
  position: absolute;
  top: 1.375rem;
  left: 3.5rem;
  color: rgba(233, 99, 255, 1);
}

.letterX {
  position: relative;
  left: -0.625rem;
}

.address {
  width: 46.0625rem;
  height: 12.9375rem;
  position: absolute;
  top: 9.375rem;
  left: 12.5rem;
}

.dark {
  font-family: Poppins;
  font-size: 3.4375rem;
  font-weight: 43.75rem;
  line-height: 4.3125rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(233, 99, 255, 1);
}

.light {
  font-family: Poppins;
  font-weight: 15.625rem;
  font-size: 3.4375rem;
  line-height: 4.32rem;

  color: rgba(255, 255, 255, 1);
}

.text {
  width: 46.0625rem;
  height: 7.5rem;
  position: absolute;
  top: 23rem;
  left: 12.5rem;
}

.info {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 31.125rem;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(159, 159, 159, 1);
}

.btn {
  width: Hug (14.0625rem);
  height: Hug (4.875rem);
  position: relative;
  top: 34.375rem;
  left: 12.5rem;
  padding: 18px 34px 18px 34px;
  margin-left: 0.625rem;
  border-radius: 45px;
  color: white;
}

.btn2 {
  border: 1px solid rgba(221, 221, 221, 1);
  background-color: black;
}

.btn1 {
  background: linear-gradient(90deg, #e963ff 0%, #5b1e9b 100%);
  border: none;
}

.homeImg {
  width: 20.9375rem;

  position: absolute;
  left: 63.875rem;
  border-radius: 0px, 0px, 828px, 0px;
  rotate: y -180deg;
  background-blend-mode: lighten;
}

.circle1 {
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  top: 9.375rem;
  left: 56.25rem;
  background: linear-gradient(246.99deg, #e963ff 14.23%, #5b1e9b 87.31%);
  z-index: 1;
  border-radius: 50%;
  filter: blur(4px);
}

.circle2 {
  width: 9.375rem;
  height: 9.375rem;
  position: absolute;
  top: 21.875rem;
  left: 60.3125rem;
  background: linear-gradient(246.99deg, #e963ff 14.23%, #5b1e9b 87.31%);
  z-index: 1;
  border-radius: 50%;
  filter: blur(4px);
}

.layer {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 10px;
  border: 1px;
  z-index: 1;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.2),
      rgba(33, 33, 33, 0.2)
    ),
    linear-gradient(68.95deg, #999999 0.53%, rgba(153, 153, 153, 0) 61.67%);
  border: 1px solid;
  border-image-source: linear-gradient(
    68.95deg,
    #999999 0.53%,
    rgba(153, 153, 153, 0) 61.67%
  );
}

.layer1 {
  position: absolute;
  top: 6.9375rem;
  left: 68.75rem;
}

.layer2 {
  position: absolute;
  top: 20.625rem;
  left: 65.625rem;
}

.layer3 {
  position: absolute;
  top: 31.25rem;
  left: 75rem;
}

.bg {
  width: 173px;
  height: 173px;
  filter: blur(150px);
  background: linear-gradient(246.99deg, #e963ff 14.23%, #5b1e9b 87.31%);
  border-radius: 50%;
}

.bg1 {
  position: absolute;
  top: 450px;
  left: 600px;
}

.bg2 {
  position: absolute;
  top: 150px;
  left: 200px;
}
.greyNavigate {
  font-size: 1.4rem;
  color: rgba(149, 149, 149, 1);
  font-weight: 300;
  margin-top: 50rem;
}
.loginBtn {
  /* background-color: ;
  background-image: $gradient-font-main;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
  color: rgba(233, 99, 255, 1);
  font-size: 1.8rem;
  text-transform: capitalize;
  text-decoration: none;
}
