.homeSection {
  height: 100svh;
  background-image: url(../images/background_Images/Home.png);
  background-repeat: no-repeat;
  background-size: 35% 100%;
  background-position: right;
  max-width: 100vw;
  width: 100%;
}
.container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, minmax(fit-content, auto));
  align-content: center;
}
.heading {
  font-size: max(3.2rem, min(4.466666666666667vw, 4.8rem));
  max-width: min(25ch, 90%);
  font-weight: 100;
  padding-bottom: 1.8rem;
}
.heading span {
  color: #e963ff;
  font-weight: 700;
}
.container p {
  font-size: max(2rem, min(1.25vw, 3.9249999999999998rem));
  max-width: min(55ch, 90%);
  color: #9f9f9f;
  font-weight: 400;
  line-height: 30px;
}
.btnsContainer {
  display: flex;
  gap: 2.4rem;
  margin-top: 4.2rem;
}

.container div:last-of-type {
  color: #9f9f9f;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  transform: translateY(12vh);
}
.container div:last-of-type a {
  color: #e963ff;
  font-size: 20px;
  text-transform: capitalize;
}

/* Above 1400px */
@media screen and (min-width: 87.5em) {
  .container div:last-of-type {
    font-size: 22px;
  }
}
/* Below 1230px */
@media screen and (max-width: 76.875em) {
  .heading {
    font-size: clamp(2.4rem, 3vw, 3.6rem);
    max-width: min(25ch, 90%);
  }
  .container p {
    font-size: clamp(1.8rem, 1.6vw, 2.6rem);
    max-width: min(55ch, 90%);
    color: #9f9f9f;
    font-weight: 400;
    line-height: 30px;
  }
}
/* Below 900px */
@media screen and (max-width: 56.25em) {
  .heading {
    font-size: clamp(3rem, 3vw, 3.6rem);
    max-width: min(25ch, 90%);
  }
  .container p {
    font-size: clamp(1.6rem, 1.2vw, 2rem);
    max-width: min(55ch, 90%);
    color: #9f9f9f;
    font-weight: 400;
    line-height: 25px;
  }
}
/* Below 550px */
@media screen and (max-width: 34.375em) {
  .heading {
    font-size: clamp(3rem, 3vw, 3.6rem);
    max-width: min(25ch, 95%);
  }
  .container p {
    font-size: clamp(1.5rem, 1.1vw, 2rem);
    max-width: min(50ch, 95%);
    color: #9f9f9f;
    font-weight: 400;
    line-height: 20px;
  }
}
/* Below 450px */
@media screen and (max-width: 34.375em) {
  .btnsContainer {
    display: flex;
    gap: 1.6rem;
    margin-top: 4.2rem;
  }
}
/* Below 350px */
@media screen and (max-width: 21.875em) {
  .heading {
    font-size: clamp(3rem, 3vw, 3.8rem);
    max-width: min(25ch, 95%);
  }
  .container p {
    font-size: clamp(15px, 1.1vw, 18px);
  }
  .btnsContainer {
    display: flex;
    gap: 1rem;
    margin-top: 4.2rem;
  }
}
/* Below 330px */
@media screen and (max-width: 20.625em) {
  .btnsContainer .btn-transparent,
  .btnsContainer .btn-gradient {
    padding: 6px 18px;
  }
}
