.listContainer {
  width: 100%;
  position: relative;
}
.listContainerInner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: minmax(150px, 8vw);
  grid-auto-columns: minmax(250px, 1fr);
  grid-auto-flow: column;
  gap: 1vw;
}
.categoryItem {
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: clamp(1.8rem, 1.6vw, 2.6rem);
  height: 100%;
  border-radius: 8px;
  cursor: pointer;

  border-width: 0.85px;
  border-style: solid;
  background-color: rgba(27, 25, 27, 1);
  background: linear-gradient(0deg, #1b191b, #1b191b) padding-box,
    linear-gradient(180deg, #e963ff 0%, #5b1e9b 100%) border-box;
  border-image-source: linear-gradient(180deg, #e963ff 0%, #5b1e9b 100%);
}
.categoryItem p::first-letter {
  text-transform: uppercase;
}
.categoryItem svg {
  width: clamp(30px, 2.8vw, 3.8rem);
  height: clamp(30px, 2.8vw, 3.8rem);
}
