.badge {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
  z-index: 1;

  background-color: rgba(209, 42, 42, 1);
}
