$gradient-font-main: linear-gradient(90deg, #5b1e9b 0%, #e963ff 65.64%);
$gradient-bg: linear-gradient(90deg, #e963ff 0%, #5b1e9b 100%);
$main-body-bg-color: rgba(25, 25, 25, 0.96);
$main-body-gradient-color: linear-gradient(
  246.99deg,
  #e963ff 14.23%,
  #5b1e9b 87.31%
);
$color-overlapping-text: rgba(0, 224, 255, 1);

$color-word-special: rgb(57, 55, 58);
$btn-color-border: rgba(255, 255, 255, 1);
$color-border-visited: rgba(51, 51, 51, 1);
$color-border-active: rgba(149, 149, 149, 1);
$border-gradient: linear-gradient(0deg, #1b191b, #1b191b) padding-box,
  linear-gradient(180deg, #e963ff 0%, #5b1e9b 100%) border-box;
$text-color-primary: rgba(255, 255, 255, 1);
$text-color-white-grey: rgba(214, 214, 214, 1);
$color-dark: rgba(27, 25, 27, 1);
$font-primary: Poppins, sans-serif;
$word-special-weigth: 700;
$font-weigth-primary: 300;
$pass-icon-position: 7%;

@import "./sass/typography";
@import "./sass/custom";
@import "./sass/base";
@import "./sass/form";
@import "./sass/btsrbCustom";
@import "./sass/buttons";
@import "./sass/mainPage";
