body{
    background-color: black;
    color: #fff;
}
.page-content{
    width: 60%;
}
.event-services-1 .page-content,.event-services-5 .page-content{ 
    height: 80vh;
}
.services-box{
    width: 100%
}
.event-services .services-card{
    width: 100%;
    height: 115px;
    border: 1px solid;
    border-image-source: linear-gradient(90.95deg, rgba(245, 163, 86, 1)0.92%, rgba(245, 163, 86, 0.03) 93.06%);
    box-shadow: 0px 4px 13.3px 0px rgba(245, 163, 86, 0.25) inset;
}
.services-card .card-data .text-pill{
    background-color: rgb(245, 163, 86);
    width: fit-content;
}
.services-card-add{
    height: 120px;
}
.services-card .card-img,.services-card-add{
    background-color: #232323;
}
.services-card-add .icon-circle{
    width: 40px;
    height: 40px;
    background-color: #353535;
}
.footer-caption{
    width: 120%;
    color: rgba(245, 163, 86, 1);
}
.select-manual-btn{
    text-wrap: nowrap;
    border: 1px solid #F5A356;
    color: #F5A356;
    background-color: transparent;
    font-weight: 300;
}
.countinue-btn{
    border: 1px solid;
    font-weight: 300;
    background: linear-gradient(90deg, #E963FF 0%, #5B1E9B 100%);
    border-image-source: linear-gradient(90deg, #E963FF 0%, #5B1E9B 100%);
}
@media (min-width:758px) {
    .page-content{
        width: 50%;
    }
    .services-box{
        width: 80%
    }
    .footer-caption{
        width: 80%;
    }
}